# Môi trường ảo (Virtual Environments)
T2_venv/
*venv/
env/
.env

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Tệp log
*.log